@font-face {
 
    font-family: 'Literata-Regular';
    src: url('../fonts/Literata-Regular.ttf') format('truetype');

    font-family: 'Literata-Italic';
    src: url('../fonts/Literata-Italic.ttf') format('truetype');

    font-family: 'Compagnon-Roman.woff';
    src: url('../fonts/Compagnon-Roman.woff') format('truetype');

    font-family: 'NotCourierSans.ttf';
    src: url('../fonts/NotCourierSans.ttf') format('truetype');

  }

@media print {

    @page {
        size: 210mm 297mm;
        margin-top: 35mm;
        margin-bottom: 15mm;
    
        /* bleed: 6mm; 
        marks: crop; 
        @bottom-center{
            content: counter(page);
        }*/
    }  

    .wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 14px;
      /* grid-auto-rows: minmax(100px, auto); */
    }
    .one {
      grid-column: 1 / 2;
      /* grid-row: 1; */
    }
    .two {
      grid-column: 2 / 6;
      /* grid-row: 1 / 3; */
    }
    /* .three {
      grid-column: 1;
      grid-row: 2 / 5;
    }
    .four {
      grid-column: 3;
      grid-row: 3;
    }
    .five {
      grid-column: 2;
      grid-row: 4;
    }
    .six {
      grid-column: 3;
      grid-row: 4;
    } */
    
    
    .twoCol {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
    }
    .oneCol {
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;
    /* }
    .ital {
      font-family: 'Literata-Italic';
    } */


    @page:left {
        margin-left: 15mm;
        margin-right: 25mm;
      }
      
      @page:right {
        margin-left: 25mm;
        margin-right: 15mm;
      }

      @page:right{
        @top-right {
          content: counter(page);
        }
      }
      
      @page:left{
        @top-left {
          content: counter(page);
        }
      }

    img { max-width: 100% }

}  

p {
    border: none;
    text-align: left;
    text-decoration-color: black;
    font-size: 9pt;
    font-family: 'Literata-Regular', serif;
    font-weight: normal;
    /* page-break-inside: avoid; */
    line-height: 120%;
}

h1 {
    border: none;
    text-align: left;
    text-decoration-color: black;
    font-size: 18pt;
    font-family: 'Literata-Regular', serif;
    font-weight: normal;
    /* page-break-inside: avoid; */
    line-height: 120%;
}

h2 {
    border: none;
    text-align: left;
    text-decoration-color: black;
    font-size: 24pt;
    font-family: 'Literata-Regular', serif;
    font-weight: normal;
    line-height: 110%;
}

h3 {
    border: none;
    text-align: left;
    text-decoration-color: black;
    font-size: 20pt;
    font-family: 'Literata-Regular', serif;
    font-weight: normal;
    line-height: 110%;
}

h4 {
    border: none;
    text-align: left;
    text-decoration-color: black;
    font-size: 16pt;
    font-family: 'Literata-Regular', serif;
    font-weight: normal;
    line-height: 110%;
}

h5 {
    border: none;
    text-align: left;
    text-decoration-color: black;
    font-size: 14pt;
    font-family: 'Literata-Regular', serif;
    font-weight: normal;
    line-height: 110%;
}

.footnote {
  font-family: 'NoCourierSans', monospace;
  font-size: 8pt;
  text-transform: uppercase;
  color: gray;
}